@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 15px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #1b1a1a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
html {
  background: #f6f7f8 0% 0% no-repeat padding-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.main-container {
  padding: 18px;
}

.navbar {
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 70px;
  padding: 0px 32px;

  display: grid;
  grid-template-columns: 270px 1fr 270px;
  grid-template-rows: 72px;
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;

  /* For the left side. */
  & > .nav-left {
    display: flex;
    align-items: center;
  }

  /* For the main nav content */
  & > .nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: auto;
  }

  & > .nav-items > li {
    transition: all 0.4s ease;
    padding: 11px;
    border: 1px solid transparent;
    cursor: pointer;
    &.active {
      background: #01f0d0 0% 0% no-repeat padding-box;
      border-radius: 41px;
    }

    &:hover {
      background: #01f0d086 0% 0% no-repeat padding-box;
      border-radius: 41px;
      border-color: #000;
    }
  }

  & > .nav-items a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 9px;
    color: inherit;
  }

  /* For te right side of nav */
  & > .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  & > .nav-right .doctor-info {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }

  & > .nav-right .doctor-info::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #ccc;
    height: 45px;
    right: -12px;
    top: 0px;
  }

  & > .nav-right .doctor-info p:last-child {
    color: #707070;
  }
}

.main-section {
  height: calc(100% - 18px + 72px + 32px);
  padding-top: 32px;
  display: grid;
  grid-template-columns: minmax(376, 1fr) 1fr minmax(376, 1fr);
  grid-template-rows: 830px 1fr;
  gap: 32px;

  /*  */
  & > .main-rightBar {
    /* grid-template-columns: span 1; */
    grid-row: span 2;

    /* height: 1054px; */
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 16px;
    /* padding: 20px; */
    height: calc(100vh - 138px);
    overflow: hidden;
  }

  /* & > .main {
    grid-template-columns: span 1;
  } */

  & > .main-leftBar {
    grid-template-columns: span 1;
  }

  .patientInfo,
  .labResults {
    grid-column: 3/4;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 20px;
  }

  .labResults {
    height: max-content;
  }
}

.labResults {
  padding: 20px;
  text-align: left;
  font: normal normal 800 24px Manrope;
  letter-spacing: 0px;
  color: #072635;
}

.labResults .result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27px;
  p {
    text-align: left;
    font: normal normal normal 13px/18px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
  }
}

.main-rightBar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px;
  h3 {
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
  }
}

.main-rightBar .cards {
  height: 98%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #000;
  /* padding-top: 40px; */
}
.main-rightBar .card {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
  padding: 10px 10px;
  border-radius: 8px;
  /* margin-right: 10px; */
  margin: 5px;
  .card-details {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
    }

    .card-info p:first-of-type {
      font: normal normal bold 14px/19px Manrope;
      letter-spacing: 0px;
      color: #072635;
    }

    .card-info p:last-of-type {
      font: normal normal normal 14px/19px Manrope;
      letter-spacing: 0px;
      color: #707070;
    }
  }
}

.main-rightBar .card.active {
  cursor: pointer;
  background: #8ffced 0% 0% no-repeat padding-box;
  border: 1px solid #000;
}

.main-rightBar .card:hover {
  cursor: pointer;
  background: #a7fdf2 0% 0% no-repeat padding-box;
}
.patient-image img {
  width: 150px;
  height: 150px;
}
.patient-image,
.patient-name {
  text-align: center;
}

.patient-name {
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  margin-top: 24px;
}

.pateint-iconInfo {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.pateint-iconInfo p:first-of-type {
  font: normal normal medium 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
}

.pateint-iconInfo p:last-of-type {
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
}

.patient-infoBtn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  button {
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    width: 220px;
    height: 41px;
    background: #01f0d0 0% 0% no-repeat padding-box;
    border-radius: 41px;
  }
}

.dignosticTable {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  padding: 23px;
  h3 {
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
  }

  table {
    border-collapse: collapse;
    margin-top: 40px;
    width: 100%;
  }

  td:not(:nth-child(2)),
  th:not(:nth-child(2)) {
    width: 100px;
    text-align: left;
  }
  tr {
    height: 59px;
  }

  td,
  th {
    text-align: left;
    padding-left: 10px;
  }

  thead {
    background-color: #f6f7f8 !important;
    border-radius: 24px;
  }
}

.dignosticHistory {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  padding: 23px;
  grid-column: 2/3;
  grid-row: 1/2;
  h3 {
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
  }

  .chartRender {
    padding: 16px;
    margin-top: 32px;
    background: #f4f0fe 0% 0% no-repeat padding-box;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .chart {
    canvas {
      width: 100% !important;
    }
  }

  .chart div.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div.titleBar p.title {
    font: normal normal bold 18px/24px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
  }

  .titleBar select {
    border: none;
    background: none;
    margin-right: 28px;
    padding: 5px;
    border-radius: 8px;
    font: inherit;
    font-size: 13px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .stats {
    .box:not(:last-of-type) {
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
    }
    .box:not(:first-of-type) {
      margin-top: 15px;
    }
    .label {
      position: relative;
      font: normal normal bold 14px/19px Manrope;
      letter-spacing: 0px;
      color: #072635;
      text-transform: capitalize;
      left: 20px;
    }
    .label::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background: #e66fd2 0% 0% no-repeat padding-box;
      border: 1px solid #ffffff;
      left: -20px;
      top: 2px;
    }

    .label.dis::before {
      background: #8c6fe6 0% 0% no-repeat padding-box;
      border: 1px solid #ffffff;
    }

    .number {
      font: normal normal bold 22px/30px Manrope;
      letter-spacing: 0px;
      color: #072635;
      text-transform: capitalize;
      margin: 8px 0px;
    }

    .text {
      font: normal normal normal 14px/19px Manrope;
      letter-spacing: 0px;
      color: #072635;
      display: flex;
      align-items: baseline;
      gap: 5px;
    }
  }
}

.healthBoxes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 37px;
  .box {
    padding: 16px;
    min-height: 242px;
    max-height: max-content;
    /* UI Properties */
    background: #e0f3fa 0% 0% no-repeat padding-box;
    border-radius: 12px;
    cursor: pointer;
    .label {
      text-align: left;
      font: normal normal medium 16px/22px Manrope;
      letter-spacing: 0px;
      color: #072635;
      text-transform: capitalize;
      margin-top: 16px;
    }

    .text {
      font: normal normal normal 14px/19px Manrope;
      letter-spacing: 0px;
      color: #072635;
    }

    .number {
      text-align: left;
      font: normal normal 800 30px/41px Manrope;
      letter-spacing: 0px;
      color: #072635;
      margin: 10px 0px;
    }
  }

  .box:nth-child(2) {
    background: #ffe6e9 0% 0% no-repeat padding-box;
  }

  .box:nth-child(3) {
    background: #ffe6f1 0% 0% no-repeat padding-box;
  }
}

.mobo-nav {
  display: none;
}

@media screen and (max-width: 1280px) {
  .navbar {
    grid-template-columns: 100px 1fr 100px;
  }
  .navbar .nav-left img {
    width: 100%;
  }
  .navbar > .nav-items {
    gap: 20px;

    span {
      /* display: none; */
      font-size: 12px;
    }
  }

  .doctor-name {
    display: none;
  }
}

@media screen and (max-width: 1220px) {
  .healthBoxes {
    gap: 10px;

    .box {
      height: 100%;
      max-height: 500px;
    }
  }
  .main-section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 500px 1fr 500px;
  }

  .main-section .patientInfo {
    grid-column: 2/3;
    grid-row: 1/2;

    .d-data {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .main-section .main-rightBar {
    grid-row: 1/3;
    height: 100%;
  }

  .main-section .labResults {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .main-section .dignosticHistory {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 30px 2fr 1fr;

    .chartRender {
      grid-template-columns: 1fr;

      .stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        .box {
          margin-top: 0px !important;
          border: 0px;
        }

        .box:not(:first-of-type) {
          border-left: 1px solid #d3d6d5;
          padding: 10px;
        }
      }
    }
  }

  .main-section .dignosticTable {
    grid-row: 3/4;
  }
}

@media screen and (max-width: 430px) {
  .main-section .dignosticTable {
    thead {
      background-color: none;
    }
  }
  .mobo-nav.active {
    display: block;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0%;
    }

    100% {
      opacity: 100%;
    }
  }
  .mobo-nav {
    animation: fadeIn 0.4s ease-in;
    display: none;
    position: absolute;
    top: 74px;
    z-index: 100;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #d3d6d5;
    border-radius: 8px;
    right: 10px;
    li {
      padding: 10px;

      list-style: none;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-top: 20px;

      &.active {
        background: #01f0d0 0% 0% no-repeat padding-box;
      }
      a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  html {
    background-color: #000;
  }

  .navbar {
    position: relative;
    grid-template-columns: 1fr 1fr;

    .nav-right {
      text-align: right;
      display: flex;
      justify-content: end;
    }
  }
  .navbar > .nav-items {
    display: none;
  }

  .main-section {
    grid-template-columns: 100%;

    .dignosticHistory .chartRender {
      width: 340px;
    }

    .healthBoxes {
      grid-template-columns: 1fr;
    }
    .chart {
      width: 300px !important;
    }
    .patientInfo {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    .dignosticHistory {
      grid-template-rows: 30px 450px 1fr;
      grid-row: 2/3;
      grid-column: 1/2;
    }

    .dignosticTable {
      grid-row: 3/4;
      grid-column: 1/2;
    }

    .labResults {
      grid-row: 4/5;
      grid-column: 1/2;
    }

    .main-rightBar {
      grid-row: 5/6;
      grid-column: 1/2;
    }

    .patient-image img {
      width: 80px;
      height: 80px;
    }

    .patientInfo {
      .d-data {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .main-section .dignosticHistory .chartRender {
    width: 310px;
  }
}

.patient-search {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: inherit;
  flex: 1;
  display: none;
  transition: all 0.4s ease-in;
  &.active {
    display: inline-block;
  }

  &:focus {
    outline: none;
    border-color: #acacac;
  }
}

.patient-searchIcon {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
  border-radius: 4px;
  text-align: center;
}

.no-results-message {
  padding-left: 20px;
}
